<%= form_for(city) do |f| %>
  <% if city.errors.any? %>
  <hl><%= @city. name %></hl>
  <div><%= image_tag @city.picture.url(:medium) %></div>
    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>Name: <%= f.text_field :name %></p>
<p>Picture: <%= f.file_field :picture %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
